{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script type="application/javascript">
        var url_json_percent = '{% url 'json_genre_percent' %}';
        var url_json_null = '{% url 'json_null' %}';
    </script>
    <script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12  main">
                <h2 class="sub-header">Tabla de datos básicos</h2>
                <div id="table">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <th>Campo</th>
                            <th>Valor</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total de series de anime</td>
                                <td>{{ total_anime }}</td>
                            </tr>
                            <tr>
                                <td>Total de géneros</td>
                                <td>{{ total_genres }}</td>
                            </tr>
                            <tr>
                                <td>Total de licencias</td>
                                <td>{{ total_licensor }}</td>
                            </tr>
                            <tr>
                                <td>Total de productoras</td>
                                <td>{{ total_producer }}</td>
                            </tr>
                            <tr>
                                <td>Total de estado</td>
                                <td>{{ total_status }}</td>
                            </tr>
                            <tr>
                                <td>Total de estudios</td>
                                <td>{{ total_studio }}</td>
                            </tr>
                            <tr>
                                <td>Total de tipos de anime</td>
                                <td>{{ total_studio }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 class="sub-header">Gráfico de porcentaje de animé por género</h2>
                <div id="generos"></div>

                <h2 class="sub-header">Gráfico de cantidad de datos nulos por atributos</h2>
                <div id="nulls"></div>
            </div>
        </div>
    </div>
{% endblock %}